.age-verification-container{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1611864072666-06ddb3070b19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80');

    .age-verification-alert{
      
        background-color: $color-gris-principal;
        border: 1px $color-gris-secundario solid;
        border-radius: 1rem;
    }
}