header {
  position: sticky;
  background-color: $color-gris-secundario;
  border: dashed $color-gris-principal 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 15vh;

  .header-left {
    a {
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: $xsm-size;
      img {
        width: $xxlg-size * 1.2;
      }

      h1 {
        font-size: $xxlg-size;
        color: $color-black;
        font-weight: bolder;
        text-transform: uppercase;
      }

      &:hover {
        border-radius: $sm-size;
        background-color: $color-white;
        border: $xsm-size $color-gris-principal dashed;
      }
    }
  }
  nav {
    .desktop-nav {
      display: flex;
      align-items: center;
      margin: 0;
      gap: $sm-size;
      li {
        cursor: pointer;
        display: inline-block;
        background-color: $color-white;
        border: $xsm-size $color-gris-principal dashed;
        border-radius: $sm-size;

        a {
          padding: $sm-size;
          font-size: $md-size;
          color: $color-black;
          text-decoration: none;
          font-weight: bold;
        }
        &:hover {
          background-color: $color-gris-principal;
          a {
            color: $color-white;
          }
        }
      }
    }
    .menu {
      display: none;
    }
    .mobile-menu {
      margin: 0;
      padding: 0;
      width: 100vw;
      position: absolute;
      top: 15vh;
      left: 0;
      .mobile-menu-list {
        display: flex;
        flex-direction: column;
        gap: 0.1rem 0rem;
        width: 100vw;
        margin: 0;
        padding: 0;
        list-style-type: none;
        .mobile-menu-list-item {
          width: 100%;
          font-size: $subtitulo;
          padding: 1rem 0.5rem;
          text-align: center;
          border: solid $color-gris-principal 1px;
          background-color: $color-gris-secundario;
          border-radius: 1rem;

          a {
            text-decoration: none;
            color: $color-black;
          }
          &:hover {
            background-color: $color-gris-principal;
            a {
              color: $color-white;
            }
          }
        }
      }
    }
  }
}

/* TABLETS  MAX 1200PX */
@media screen and (max-width: 1200px) {
  header {
    .header-left {
      a {
        h1 {
          font-size: $xlg-size;
        }
      }
    }
  }
}

/* TABLETS MAX 996PX */
@media screen and (max-width: 996px) {
  header {
    nav {
      .desktop-nav {
        display: none;
      }
      .menu {
        display: block;
        width: $xxlg-size;
        cursor: pointer;
      }
    }
  }
}

/* MOBILES MAX 576PX */
@media screen and (max-width: 576px) {
  header {
    .header-left {
      a {
        h1 {
          display: none;
        }
      }
    }
  }
}
