header {
  position: sticky;
  background-color: $color-gris-secundario;
  padding: $md-size;
  border: dashed $color-gris-principal 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;

  .header-left {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $xsm-size;
      padding: $sm-size $xlg-size;
      img {
        width: $xxlg-size;
      }
      h1 {
        font-size: $xxlg-size;
        color: $color-black;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: 1px 1px $color-white;
      }

      &:hover {
        border-radius: $sm-size;
        background-color: $color-white;
        border: $xsm-size $color-gris-principal dashed;
      }
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      gap: $sm-size;
      li {
        cursor: pointer;
        display: inline-block;
        background-color: $color-white;
        border: $xsm-size $color-gris-principal dashed;
        border-radius: $sm-size;
        padding: $sm-size;

        a {
          font-size: $md-size;
          color: $color-black;
          text-decoration: none;
          font-weight: bold;
        }

        &:hover {
          background-color: $color-gris-principal;
          a{
            color: $color-white;

          }

        }
      }
    }
  }
}

/* tablets */

/* PHONES */

@media screen and (max-width: 996px) {
  header {
    .header-left {
      a {
        h1 {
          display: none;
        }
      }
    }
  }
}

