.hero-product-container {
    position: relative;
    height: 80vh;


    img {
        object-fit: cover;
        width: 100%;
    }

    .hero-message {
        position: absolute;
        top: 25%;
        right: 25%;
        color: $color-white;
    }
}