.main-section {
  margin-top: 5rem;
  .main-section-container {
    .main-header {
      .box-style {
        padding: 1.5rem 0;
        text-align: center;
        h2 {
          font-size: $titulo;
        }
      }
    }

    .content-left {
      .box-style{
        padding: 2rem;
        h3{
          font-size: $subtitulo;
        }
        p{
          font-size: $parrafo;
        }
        h6 {
          font-size: $parrafo
        }
      }
    }
    .content-rigth {
      .box-style{
        padding: 2rem;
        h3{
          font-size: $subtitulo;
        }
        .form {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;
          .label {
            span{
              font-size: $parrafo;
            }
            input {
              margin-left: 1rem;
              padding: 0.8rem 1.2rem;
              font-size: $parrafo;
              border-radius: 1rem;
            }
          }
        }
        .verificar-edad-section {
          .button-verificar {
            padding: 0.5rem 2rem;
            font-size: $parrafo;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 1rem;
          }
          .output-verificar{
            width: 100%;
            border: 2px dashed $color-gris-principal;
            padding: 0.5rem 2rem;
            border-radius: 1rem;
            font-size: $parrafo;
            margin: 1rem 0rem;
           
          }
        }
      }
    }
  }
}

.box-style {
  background-color: $color-white;
  border-radius: 1rem;
  border: dashed $color-gris-principal 2px;
}
