/* Tamaños de fuente */

$small-size:0.5rem;
$medium-size:1.5rem;
$large-size:1.5rem;
$ExtraLarge-size:2.5rem;

/* colores  */
$color-gris-principal:#212529;
$color-gris-secundario: #6c757d;
$color-amarillo-principal: #b8a25a;
$color-naranja-principal: #E98A22;

$color-white: #ffffff;
$color-black: #000000;


